<div layout="column" class="main-div">
	<mat-card class="about-card">
		<mat-card-title>
			About Habitat
		</mat-card-title>
		<mat-card-subtitle>
			A Habits & Routine Tracker
		</mat-card-subtitle>
		<mat-card-content>

			<p>
			Habitat is a simple web based app that helps you create and maintain good
			habits, allowing you to achieve your long-term goals. Detailed graphs and
			statistics show you how your habits improved over time. It is completely
			ad-free and open source.
			</p>

<p>
Use the simple single page interface to setup daily goals and track them with
just a click. Watch your daily score to gage your success and use negative
goals (or vices) to confront and overcome bad habits that finally need to get
the boot
</p>

		</mat-card-content>
	</mat-card>

	<mat-card class="about-card">
		<mat-card-title>
Habits Tracker?
		</mat-card-title>
		<mat-card-subtitle>
			What is haibt tracking?
		</mat-card-subtitle>
		<mat-card-content>

			<p>
			Habit tracking is a general term used to describe the task of keeping yourself
			accountable for tasks or goals each day throughout the week or month. ...
			Another noteworthy reason to use habit tracking in your bullet journal is it
			can help you see patterns.
			</p>

			<p>
			A habit tracker is a tool that allows you to quantify your behaviors and track
			how consistent you are in acquiring or removing specific ones. This means habit
			trackers can take many forms, such as a simple pen-and-paper checklist, an app
			on your phone, or even a specific gadget, like a big bottle of water on which
			you mark how much you’d like to drink each day.
			</p>

		</mat-card-content>
	</mat-card>

	<mat-card class="about-card">
		<mat-card-title>
		<a routerLink="/register">Sign up</a> to learn more!
		</mat-card-title>
		</mat-card>
	<!-- <mat-card class="about-card"> -->
	<!-- 	<mat-card-title> -->
	<!-- 		Features -->
	<!-- 	</mat-card-title> -->
	<!-- 	<mat-card-content> -->
	<!-- 		<ul> -->

	<!-- 			<li> -->
	<!-- 				Keeps Track of your Skill Level -->
	<!-- 			</li> -->
	<!-- 			<li> -->
	<!-- 				Compete for the highest rank -->
	<!-- 			</li> -->
	<!-- 			<li> -->
	<!-- 				View move history in your games -->
	<!-- 			</li> -->
	<!-- 			<li> -->
	<!-- 				Chat with your opponent -->
	<!-- 			</li> -->
	<!-- 			<li> -->
	<!-- 				Play handoff games locally on the phone -->
	<!-- 			</li> -->
	<!-- 		</ul> -->
	<!-- 	</mat-card-content> -->
	<!-- </mat-card> -->
</div>
