<div layout="column" class="main-div">


	<mat-card [ngClass]="(isHandset$ | async) ? 'dashboard-card-handset' : 'dashboard-card'">

		<mat-card-content>
			<mat-card-title>
				Adding a new Habit
			</mat-card-title>
			<mat-card-subtitle>
				Question should be of the form : <i>Did you do *** today? </i>
			</mat-card-subtitle>
		</mat-card-content>


		<form>
			<p class="full-width">
			<mat-form-field class="full-width">
				<mat-label>Habit Name</mat-label>
				<input matInput placeholder="Habit name" [formControl]="hName">
			</mat-form-field>
			</p>
			<p class="full-width">
			<mat-form-field class="full-width">
				<mat-label>Habit Question</mat-label>
				<input matInput placeholder="Question" [formControl]="hQuestion" name="password">
			</mat-form-field>
			</p>
		</form>


		<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
			<button (click)="addHabit()" mat-raised-button color="accent" [ngClass]="(isHandset$ | async) ? '' : 'full-width' ">
				Add Habit
			</button>

		</div>
		<a routerLink="/manage">Go Back</a>
	</mat-card>



</div>
