<div layout="column" class="main-div">
	<mat-card class="login-card">
		<mat-card-content>
			<mat-card-title>
				Login
			</mat-card-title>


			<form>
				<p class="full-width">
				<mat-form-field class="full-width">
					<input matInput placeholder="Email" [formControl]="emailFormControl">
					<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						Please enter a valid email address
					</mat-error>
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Email is <strong>required</strong>
					</mat-error>
				</mat-form-field>
				</p>
				<p class="full-width">
				<mat-form-field class="full-width">
					<mat-label>Password</mat-label>
					<input matInput type="password" [formControl]="passwordFormControl" placeholder="Password" name="password">
				</mat-form-field>
				</p>
				<a routerLink="/register">Create Account</a>
			</form>

		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="login()" color="primary">LOGIN</button>
		</mat-card-actions>
	</mat-card>
</div>
