<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'"
      opened = "false"
      >

      <!-- [opened]="!(isHandset$ | async)" -->
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="loggedin$" routerLink="dashboard">Dashboard</a>
      <a mat-list-item *ngIf="loggedin$"routerLink="manage">Manage Habits</a>
      <a mat-list-item *ngIf="loggedin$"routerLink="about">About</a>
      <a mat-list-item *ngIf="!(loggedin$)" routerLink="login">Login</a>
      <a mat-list-item *ngIf="!(loggedin$)" routerLink="login">Sign Up</a>
      <a mat-list-item *ngIf="loggedin$" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Habitat : Habits & Routine Tracker</span>
    </mat-toolbar>

    <!-- Add Content Here -->

    <!-- content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
