
.dashboard-card {
	max-width : 400px;
	margin : 15px auto;
}

.dashboard-card-handset {
	margin : 15px auto;
}

.dashboard-button {
	width : 400px;
	margin : 15px auto;
	padding: 0;
}

.dashboard-button-handset {
	margin : 15px auto;
	text-align : center;
}

.full-width {
	width : 100%;
}

.main-div{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.full-width{
	width: 100%;
	margin: 0;
}

