<div layout="column" class="main-div">


	<mat-card [ngClass]="(isHandset$ | async) ? 'dashboard-card-handset' : 'dashboard-card'">

		<mat-card-content>
			<mat-card-title>
				Welcome {{ userName }}
			</mat-card-title>
			<mat-card-subtitle>
				Quote of the day : {{ qod }}
			</mat-card-subtitle>

		</mat-card-content>
		<!-- {{ this.todayHabits | json}} -->

		<mat-nav-list>
			<mat-list-item *ngFor="let habit of this.todayHabits; index as i">
				<div mat-line>
					{{ habit.name }}
				</div>

				<p mat-line>
				<i>{{ habit.question }}</i>
				</p>

				<button mat-icon-button (click)="check(habit, i)">
					<mat-icon>check</mat-icon>
				</button>
			</mat-list-item>
			<mat-divider [inset]="true" *ngIf="!last"></mat-divider>
		</mat-nav-list>
	</mat-card>
	<div [ngClass]="(isHandset$ | async) ? 'dashboard-button-handset' : 'dashboard-button'">
		<button mat-raised-button color="accent" [ngClass]="(isHandset$ | async) ? '' : 'full-width' " routerLink="/manage">
			Manage Habits
		</button>
	</div>
</div>

